a.tag {
    display: inline-block;
    padding: 0.1em;
    font-size: 0.9em;
    text-decoration: none;

    border-style: double;
    border-radius: 10px;
    padding: 2px 5px;
}
/* ------------------- lenguajes ------------------- */

.C { color: deepskyblue; }
.python { color: yellow }
.html { color: #ff6f00; }

/* ------------------- other ------------------- */

.software { color: #a0aaff; }
.Tutorial { color: lime; }

/* -------------------------------- */

/* ------------------- categories ------------------- */

.Competitiva { color: #22e1d5; }
