{{ define "main" }}
    <h2>{{ .Title }}</h2>
    {{ .Content }}
    {{ $urlDIY := printf "%s/%s/repos" .Site.Params.gh_organization .Site.Params.gh_org_DIY }}
    {{ $url0x := printf "%s/%s/repos" .Site.Params.gh_organization .Site.Params.gh_org_0xbuilders }}

    {{ $reposDIY := getJSON $urlDIY }}
    {{ $repos0x := getJSON $url0x }}

    <h2>Repos DIY the hard way</h2>
    <section class= "oss">
        {{ range $reposDIY }}
            {{- partial "repos.html" . -}}
        {{ end }}
    </section>

    <h2>Repos 0xBuilders</h2>
    <section class= "oss">
        {{ range $repos0x }}
            {{- partial "repos.html" . -}}
        {{ end }}
    </section>
{{ end }}
